<div class="offset-1 pt-5">
  <form class="col-8 offset-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Logowanie</mat-card-title>
      </mat-card-header>
      <div class="row pt-3">
        <div class="col">
          <mat-form-field class="full-width" appearance="fill">
            <input matInput placeholder="Nazwa użytkownika" id="login" formControlName="username">
            <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
              Nazwa użytkownika jest <strong>wymagana</strong> do zalogowania
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Hasło</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Hasło jest <strong>wymagane</strong> do zalogowania
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-card-actions class="text-align-right mb-2 pr-3">
        <button mat-raised-button color="primary" type="submit" id="submit">Zaloguj</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
