<div class="col-8 offset-2">
  <div>Głosowania udostępnione dla ciebie:</div>

  <table mat-table [dataSource]="votingList" style="width: 100%" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.votingDTO.votingId}}</td>
    </ng-container>

    <ng-container matColumnDef="votingName">
      <th mat-header-cell *matHeaderCellDef>Nazwa</th>
      <td mat-cell *matCellDef="let element">{{element.votingDTO.votingName}}</td>
    </ng-container>

    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef>Pytanie</th>
      <td mat-cell *matCellDef="let element">{{element.votingDTO.question}}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>Data zakończenia</th>
      <td mat-cell *matCellDef="let element">{{element.votingDTO.endDate}}</td>
    </ng-container>

    <ng-container matColumnDef="voted">
      <th mat-header-cell *matHeaderCellDef>Zagłosowane</th>
      <td mat-cell *matCellDef="let element"><mat-checkbox [ngModel]="element.voted" [disabled]="true"></mat-checkbox></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="clickedRows.add(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>

  </table>

  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      {{redirectToVotingPage(clickedRow.votingDTO.votingId)}}
    </li>
  </ul>
</div>
