<div class="col-8 offset-2">
  <h1>Twoje grupy użytkowników</h1>

  <mat-list>
    <mat-list-item>
      <span class="col-1"><strong>No.</strong></span>
      <span class="pr-3 col-2"><strong>Nazwa grupy:</strong></span>
      <div class="col-7"><strong>Użytkownicy:</strong></div>
    </mat-list-item>
    <mat-list-item class="mt-1" *ngFor="let userGroup of userGroupInfos let i=index" >
      <span class="col-1"><p>{{i + 1}}.</p></span>
      <span class="pr-3 col-2"><p>{{userGroup.userGroupName}}</p></span>
        <div *ngFor="let username of userGroup.usernames"><p class="pr-3">{{username}}</p></div>
     <div class="text-align-right" style="width: 100%">
       <button mat-flat-button class="mr-2" (click)="openEditUserGroupDialog(userGroup.userGroupId)">Edytuj</button>
       <button mat-flat-button color="warn" (click)="deleteUserGroup(userGroup.userGroupId)">Usuń</button>
     </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <button class="mt-3" mat-flat-button color="primary" (click)="openCreateUserGroupDialog()">Dodaj</button>
</div>
