<mat-toolbar>
  <div class="col-1">
    <input type="image" (click)="goToHomePage()" class="logo" src="assets/Logo.png">
  </div>
  <ng-container *ngIf="!isLoggedIn()">
    <div class="full-width text-align-right">
      <button mat-raised-button class="navbar-button" color="primary" id="logowanie" (click)="goToLoginPage()">
        Logowanie
      </button>
      <button mat-stroked-button class="navbar-button" color="primary"
              (click)="goToRegisterPage()">Rejestracja
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="isLoggedIn()">
    <div class="full-width text-align-right">
      <button mat-raised-button class="navbar-button" color="primary" (click)="goToUserGroupSearch()">
        Grupy użytkowników
      </button>
      <button mat-raised-button class="navbar-button" color="primary" (click)="goToVotingSharedToMe()">
        Zagłosuj
      </button>
      <button mat-raised-button class="navbar-button " color="primary" (click)="goToVotingSearchPage()">
        Moje głosowania
      </button>
      <button mat-raised-button class="navbar-button " color="primary" (click)="goToCreateVotingPage()">
        Nowe głosowanie
      </button>
      <button mat-stroked-button class="navbar-button" id="wyloguj" color="primary"
              (click)="logout()">Wyloguj
      </button>
    </div>
  </ng-container>
</mat-toolbar>
