<div mat-dialog-content>
  <mat-radio-group [(ngModel)]="sharingMode">
    <mat-radio-button class="pr-3" value="user">Udostępnij użytkownikownikom:</mat-radio-button>
    <mat-radio-button value="userGroup">Udostępnij grupie użytkowników:</mat-radio-button>
  </mat-radio-group>
  <div *ngIf="sharingMode ==='user'">
    <mat-form-field class="pt-3 col-12" appearance="fill">
      <mat-label>Dodawanie użytkowników</mat-label>
        <mat-chip-grid #chipGrid aria-label="Fruit selection">
          <mat-chip-row *ngFor="let user of users" (removed)="remove(user)">
            {{user}}
            <button matChipRemove [attr.aria-label]="'remove ' + user">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          placeholder="Nazwa użytkownika..."
          #userInput
          [formControl]="userCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipGrid"
          (matChipInputTokenEnd)="add($event)">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredUsers | async" [value]="fruit">
          {{fruit}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-button (click)="onNoClick()">Anuluj</button>
    <button mat-button (click)="onSubmit()" cdkFocusInitial>Dodaj</button>
  </div>

  <div *ngIf="sharingMode ==='userGroup'">
    <app-share-to-user-group
      (usernamesFromGroup)="userGroupShareSubmit($event)"
      (dialogClose)="onNoClick()"
    ></app-share-to-user-group>
  </div>
</div>
