<div class="col-8 offset-2">
  <mat-list>
    <mat-list-item>
      <div class="row full-width">
        <div class="col-3"><strong class="pr-3">Nazwa: </strong>{{votingInfo.votingName}}</div>
        <div class="col-3"><strong class="pr-3">Tylko dla zalogowanych: </strong>
          <mat-checkbox [ngModel]="votingInfo.restricted" [disabled]="true"></mat-checkbox>
        </div>
        <div class="col-3"><strong class="pr-3">Aktywna: </strong>
          <mat-checkbox [ngModel]="votingInfo.active" [disabled]="true"></mat-checkbox>
        </div>
        <div class="col-3">
          <strong *ngIf="votingInfo.endDate" class="pr-3">Data zakończenia: </strong>{{votingInfo.endDate}}
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><strong class="pr-3">Pytanie: </strong>{{votingInfo.question}}</mat-list-item>
    <mat-list-item><strong>Odpowiedzi: </strong></mat-list-item>
    <div *ngFor="let answer of votingInfo.answers let i=index">
      <mat-divider></mat-divider>
      <mat-list-item><span class="pr-3">{{i + 1}}.</span>{{answer.answer}}</mat-list-item>
    </div>
  </mat-list>
  <div class="text-align-right">
    <button class="button-margin" mat-mini-fab color="primary" (click)="openShareVotingDialog()">
      <mat-icon>share</mat-icon>
    </button>
    <button [disabled]="votingInfo.active" class="button-margin" mat-flat-button color="primary" (click)="gotToVotingEditPage()">Edytuj</button>
    <button *ngIf="votingInfo.active" class="button-margin" mat-flat-button color="primary" (click)="deactivate()">Deaktywuj</button>
    <button mat-flat-button color="warn" (click)="deleteVoting(votingInfo.votingId)">Usuń</button>
  </div>
</div>
