<div class="col-8 offset-2">
<div>Twoje głosowania</div>

  <table mat-table [dataSource]="votingList" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.votingId}}</td>
    </ng-container>

    <ng-container matColumnDef="votingName">
      <th mat-header-cell *matHeaderCellDef>Nazwa</th>
      <td mat-cell *matCellDef="let element">{{element.votingName}}</td>
    </ng-container>

    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef>Pytanie</th>
      <td mat-cell *matCellDef="let element">{{element.question}}</td>
    </ng-container>

    <ng-container matColumnDef="restricted">
      <th mat-header-cell *matHeaderCellDef>Tylko dla zalogowanych:</th>
      <td mat-cell *matCellDef="let element"><mat-checkbox [ngModel]="element.restricted" [disabled]="true"></mat-checkbox></td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>Data zakończenia</th>
      <td mat-cell *matCellDef="let element">{{element.endDate}}</td>
    </ng-container>

    <ng-container matColumnDef="explicit">
      <th mat-header-cell *matHeaderCellDef>Jawne:</th>
      <td mat-cell *matCellDef="let element"><mat-checkbox [ngModel]="element.explicit" [disabled]="true"></mat-checkbox></td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Aktywne:</th>
      <td mat-cell *matCellDef="let element"><mat-checkbox [ngModel]="element.active" [disabled]="true"></mat-checkbox></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="clickedRows.add(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>

  </table>

  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      {{redirectToVotingPage(clickedRow.votingId)}}
    </li>
  </ul>
</div>
