<div class="col-8 offset-2 pt-3">
  <mat-card>
    <mat-list>
      <mat-list-item>
        <div class="row full-width">
          <div class="col-3"><strong class="pr-3">Nazwa: </strong>{{votingInfo.votingName}}</div>
          <div class="col-3"><strong class="pr-3">Tylko dla zalogowanych: </strong>
            <mat-checkbox [ngModel]="votingInfo.restricted" [disabled]="true"></mat-checkbox>
          </div>
          <div class="col-2"><strong class="pr-3">Aktywna: </strong>
            <mat-checkbox [ngModel]="votingInfo.active" [disabled]="true"></mat-checkbox>
          </div>
          <div class="col-4">
            <strong *ngIf="votingInfo.endDate" class="pr-3">Data zakończenia: </strong>{{votingInfo.endDate}}
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><strong class="pr-3">Pytanie: </strong>{{votingInfo.question}}</mat-list-item>
      <mat-list-item>
        <span class="col-1"></span>
        <span class="pr-3 col-2"><strong>Odpowiedzi: </strong></span>
        <span *ngIf="resultVisible" class="pr-3 col-2"><strong>Liczba odpowiedzi:</strong></span>
        <span *ngIf="resultVisible" class="pr-3 col-2"><strong>Udział procentowy:</strong></span>
        <span class="pr-3 col-5"
              *ngIf="votingInfo.explicit && resultVisible"><strong>Użytkownicy który zagłosowali:</strong></span>
      </mat-list-item>
      <div *ngFor="let answer of votingInfo.answers let i=index">
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="col-1">{{i + 1}}.</span>
          <span class="pr-3 col-2">{{answer.answer}}</span>
          <span *ngIf="resultVisible" class="pr-3 col-2">{{getNumberOfResultForAnswer(answer.answerId).value}}</span>
          <span *ngIf="resultVisible"
                class="pr-3 col-2">{{getNumberOfResultForAnswer(answer.answerId).value / totalOfAnswers * 100 | number: '1.0-2'}}
            %</span>
          <span class="pr-3 col-5"
                *ngIf="votingInfo.explicit && resultVisible">{{getNumberOfResultForAnswer(answer.answerId).usernames}}</span>
        </mat-list-item>
      </div>
    </mat-list>
    <div class="text-align-right">
      <button class="button-margin" mat-mini-fab color="accent" (click)="openShareVotingDialog()">
        <mat-icon class="white">share</mat-icon>
      </button>
      <button [disabled]="votingInfo.active" class="button-margin" mat-flat-button color="primary"
              (click)="gotToVotingEditPage()">Edytuj
      </button>
      <button *ngIf="votingInfo.active" class="button-margin" mat-flat-button color="primary" (click)="deactivate()">
        Deaktywuj
      </button>
      <button mat-flat-button color="warn" (click)="deleteVoting(votingInfo.votingId)">Usuń</button>
    </div>
    <button [disabled]="totalOfAnswers === 0" mat-flat-button color="primary" (click)="showResult()">Pokaż wyniki
    </button>
    <br>
  </mat-card>
  <ngx-charts-pie-chart class="col-1" *ngIf="resultVisible" [results]="votingResult" [legend]="true"
                        [gradient]="true">
  </ngx-charts-pie-chart>
</div>
