<div mat-dialog-content>
  <p>Utwórz grupę użytkowników:</p>
  <form [formGroup]="userGroupForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Dodaj grupe</mat-card-title>
      </mat-card-header>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nazwa grupy:</mat-label>
        <input matInput type="text" placeholder="Nazwa" formControlName="userGroupName">
      </mat-form-field>

      <mat-form-field class="example-chip-list col-12" appearance="fill">
        <mat-label>Dodawanie użytkowników</mat-label>
        <mat-chip-list #chipList aria-label="Dodawanie użytkowników">
          <mat-chip
            *ngFor="let user of users"
            (removed)="remove(user)">
            {{user}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Nazwa użytkownika..."
            #userInput
            [formControl]="userCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
            {{user}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="text-align-right">
        <button mat-button (click)="onNoClick()">Anuluj</button>
        <button mat-button (click)="onSubmit()">Dodaj</button>
      </div>
    </mat-card>
  </form>
</div>
